:root {
  /* Light mode */
  --primary-color: #36507d;
  --secondary-color: rgba(189, 221, 255, 1);
  --background-color: rgba(82, 104, 128, 0.541);
  --main-text: rgba(29, 47, 66, 0.904);
  --secondary-text: #666666;
  --error-color: #d9534f;
  --success-color: #5cb85c;
  --warning-color: #f0ad4e;
  --white: #fff;
}

.text,
p {
  color: var(--main-text);
}
/* font-family: 'Caveat', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif; */

.App {
  text-align: left;
  background-color: var(--primary-color);
}

/* .article {
  text-align: left !important;
} */
.myName {
  font-family: "Caveat", cursive;
  color: var(--secondary-color);
  font-size: 3rem;
  text-shadow: 3px 3px var(--background-color);
}

.headshot {
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
blockquote,
th,
td,
caption,
label,
button,
input[type="text"],
textarea {
  /* color: var(--main-text); */
  font-family: "Roboto", sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.nav-title {
  font-family: "Permanent Marker", cursive;
}

.nav-title:hover {
  border-bottom: 2px solid var(--secondary-color);
}

a.nav-title.active {
  color: var(--white);
}

.githublink .icon {
  color: rgba(85, 26, 139, 1) !important;
}

.linkedinlink .icon {
  color: rgba(0, 0, 238, 1);
}
